* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffeaf3;

    font-family: Arial, sans-serif;
}

.wish-container {
    width: 90%;
    max-width: 600px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    animation: wishMasuk 1s ease;
}

@keyframes wishMasuk {

    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.95);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }

}

h1 {
    text-align: center;
    margin-bottom: 15px;
    animation: judulWish 1s ease 0.3s both;
}

@keyframes judulWish {

    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

p {
    text-align: center;

    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: formMasuk 1s ease 0.5s both;
}

@keyframes formMasuk {

    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

label {
    font-weight: bold;

    margin-top: 10px;
}

textarea {
    width: 100%;

    min-height: 120px;

    padding: 12px;

    resize: vertical;

    border: 1px solid #ddd;

    border-radius: 10px;

    font-family: Arial;
}

button {
    margin-top: 15px;

    padding: 14px;

    border: none;

    border-radius: 25px;

    background: #ff6fa5;

    color: white;

    font-size: 16px;

    cursor: pointer;
}

button:hover {
    transform: scale(1.02);
}

.wish-container > a {
    display: block;

    text-align: center;

    margin-top: 20px;

    color: #555;

    text-decoration: none;
}



/* Tablet */
@media (max-width: 900px) {
    .kolom {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* HP */
@media (max-width: 600px) {
    .kolom {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .box {
        padding: 10px;
    }

    .box h2 {
        font-size: 14px;
    }
}

/* HP kecil banget */
@media (max-width: 380px) {
    .kolom {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}